<!DOCTYPE html>
<html>
    <head>
        <title>Quack</title>
        <link rel='icon' href="../static/quack_icon.ico" type='image/x-icon'/>

        <!-- <link rel="stylesheet" href="../static/css/flatly.bootstrap.min.css"> -->
        <link rel="stylesheet" href="../static/css/custom.css">
        <!-- <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css"> -->

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="../static/css/materialize.min.css">
        
        <!-- To use Materialize icons -->
        <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->

        <!-- Web Sockets! -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>

    <embed src="../static/wav/comp_err.wav" autostart="false" width="0" height="0" id="new_msg_sound" enablejavascript="true">

    <body>

      <!-- Modals -->
      <div id="modal1" class="modal">
        <div class="modal-content">
          <h4>Welcome to Quack!</h4>
          <div class="form-group">
              <p>Please enter your nickname</p>
              <input id="username-input" class="form-control" name="name" autocomplete="off" type="text" autofocus 
                     placeholder="Mallory Mallard">
              <button id="lets-chat-btn" class="btn btn-success mt-2 modal-close">Let's Chat!</button>
          </div>
        </div>
      </div>

      <header>
          <div class="navbar-fixed">
            <nav>
              <div class="nav-wrapper">
                  <a href="#" class="brand-logo left"><img src="../static/quack_text_lg.png" height="75"></a>
                  <!-- Not using Font Awesome anymore, was way too slow sometimes on page load.  Using custon CSS now -->
                  <!-- <a href="javascript:void(0)" data-target="slide-out" class="sidenav-trigger"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a> -->
                  <a href="javascript:void(0)" data-target="slide-out" class="sidenav-trigger"><div class="vertical-ellipsis"></div></a>
                  <!-- Dropped these altogether, not doing Settings or Login for this assignment (need to cut scope).  But did get them working properly. -->
                  <!-- <ul id="nav-mobile" class="right show-on-small hide-on-med-and-up">
                    <li><a href="#"><i class="fa fa-cog fa-fw" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i></a></li>
                  </ul>
                  <ul id="nav-mobile" class="right show-on-med hide-on-small-only hide-on-large-only">
                    <li><a href="#"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp; Settings</a></li>
                    <li><a href="#"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>&nbsp; Sign Out</a></li>
                  </ul>
                  <ul id="nav-mobile-large-only" class="right show-on-large-only hide-on-med-and-down">
                    <li><a href="#"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp; Settings</a></li>
                    <li><a href="#"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>&nbsp; Sign Out</a></li>
                  </ul> -->
              </div>
            </nav>
          </div>
      </header>

      <!--  Sidenav structure, visible on tablet and mobile  -->
      <ul id="slide-out" class="sidenav sidenav-fixed">
        
        <div class="row">
        <div class="col s12">
            <h5 id="user-welcome"></h5>
            <div class="divider"></div>
        
            <div class="row">
            <form class="input-field col s12">
                <i class="prefix tiny">#</i>
                <label for="new_channel_name">New Channel Name</label>
                <input id="new_channel_name" type="text" class="validate" autocomplete="off">
                <button class="btn waves-effect waves-light btn-small" id="add_channel_button">Add Channel</button>
            </form>
            </div>
            
            <h6><b>Public Channels</b></h6>
            <ul id="channel-list">
              <!-- Channels will go here -->
            </ul>

            <h6><b>Online Users</b></h6>
            <p class="grey-text">Click to Private Message</p>
            
            <ul id="pm-list">
              <!-- Present users will go here -->
            </ul>

            <ul id="copy-footer">
              <li><a class="quack-copyright">© 2019 Quack Addicts, Inc.</a></li>
            </ul>
        
        </div>
        </div>

      </ul>
    
      <main>

        <div id="message_window">
          <ul class="collection" id="messages">
            <!-- Message content will go here -->
          </ul>
        </div>
    </main>

    <div class="footer-chatbox">
        <div class="row">
              <form class="input-field col s12" id="msg_form">
                <input placeholder="Say something..." id="message_input" type="text" autocomplete="off" maxlength="160">
                <button class="btn waves-effect waves-light" id="send-button">Send</button>
              </form>
            </div>
    </div>

        
    <!-- JavaScript at end of body for optimized loading -->
    <!-- Compiled and minified JavaScript -->
    <script src="../static/js/materialize.min.js"></script>
    <script src="../static/js/script.js"></script>
    <!-- <script src="https://use.fontawesome.com/5d55a43de0.js"></script> -->

    </body>
</html>